@mixin title-original {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  line-height: 96px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  color: $black;
}

@mixin title-original-mobile {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.1em;
}

@mixin subtitle-original {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: $black;
}

@mixin subtitle-original-mobile {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 152.62%;
  letter-spacing: 0.1em;
}

@mixin title-classic {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  line-height: 96px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  color: $yellow;
}

@mixin title-classic-mobile {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.6em;
  line-height: 119.97%;
  text-align: center;
  letter-spacing: 0.1em;
  color: $yellow;
}

@mixin subtitle-classic {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

@mixin button-explore {
  width: 45px;
  height: 45px;
  border: 1px solid #d5a368;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin title-explore {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 16px;
  letter-spacing: 0.2em;
  margin-left: 15px;
  text-transform: uppercase;
}

@mixin title-carousel {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 115px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: $white;
}

@mixin title-carousel-mobile {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 119.97%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: $white;
}

@mixin subtitle-carousel {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.25em;
  color: $white;
}

@mixin subtitle-carousel-mobile {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25em;
  color: $white;
}

@mixin title-carousel-shop {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: $purple;
}

@mixin title-carousel-shop-mobile {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  flex-wrap: wrap;
  padding: 0 50px;
  color: $purple;
}

@mixin title-contact-us {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
}

@mixin title-newsletter {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: $yellow;
}

@mixin title-policy {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $policy;
}
