.wrapper {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "heading"
    "content"
    "footer";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

@media (max-width: 760px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-areas:
      "heading header"
      "content content"
      "footer footer";
  }
  .header {
    grid-template-columns: 1fr;
  }
}

.heading {
  grid-area: heading;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  justify-items: center;
}

.content {
  grid-area: content;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

footer {
  grid-area: footer;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
