* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "heading" "content" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 15px;
}

@media (max-width: 760px) {
  .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "heading header" "content content";
  }
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: heading;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .find {
  width: 150px;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .find:hover {
  background: #f2f2f2;
}

.header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .buttons img {
  padding: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.header .buttons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .buttons img:nth-child(1), .header .buttons img:nth-child(2) {
  display: block;
}

.header .search {
  background: #f2f2f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

@media (max-width: 760px) {
  .header .find {
    display: none;
  }
  .header .buttons img:nth-child(1), .header .buttons img:nth-child(2) {
    display: none;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading nav {
  display: block;
}

.heading nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.heading nav li {
  padding: 20px 35px;
  font-size: 14px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.heading nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heading nav a {
  color: #000000;
}

@media (max-width: 760px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .heading img {
    max-width: 170px;
  }
  .heading nav {
    display: none;
  }
  .heading [data-menu="button"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .heading [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 25px;
    background: #000000;
    -webkit-box-shadow: 0 8px #000000, 0 -8px #000000;
            box-shadow: 0 8px #000000, 0 -8px #000000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .session-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.content .session-1 img {
  width: 100%;
}

.content .session-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #f9efe4;
}

.content .session-2 .subsession-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7%;
  width: 100%;
}

.content .session-2 .subsession-2 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  line-height: 96px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  color: #000000;
}

.content .session-2 .subsession-2 span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #000000;
}

.content .session-2 .subsession-2 .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.content .session-2 .subsession-2 .arrow a {
  width: 45px;
  height: 45px;
  border: 1px solid #d5a368;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .session-2 .subsession-2 .arrow a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .session-2 .subsession-2 .arrow span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 16px;
  letter-spacing: 0.2em;
  margin-left: 15px;
  text-transform: uppercase;
}

.content .session-2 .resposive-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content .session-2 .resposive-img img {
  max-width: 742px;
  max-height: 900px;
  width: 100%;
}

@media (max-width: 700px) {
  .content .session-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .session-2 .subsession-2 {
    margin: 10%;
    width: 70%;
  }
  .content .session-2 .subsession-2 h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0.1em;
  }
  .content .session-2 .subsession-2 span {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 152.62%;
    letter-spacing: 0.1em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .content .session-2 .subsession-2 h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0.1em;
  }
  .content .session-2 .subsession-2 span {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 152.62%;
    letter-spacing: 0.1em;
  }
}

.content .session-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

.content .session-3 span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.content .session-3 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  line-height: 96px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  color: #d5a368;
}

.content .session-3 p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #000000;
}

.content .session-3 .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.content .session-3 .arrow a {
  width: 45px;
  height: 45px;
  border: 1px solid #d5a368;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .session-3 .arrow a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .session-3 .arrow span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 16px;
  letter-spacing: 0.2em;
  margin-left: 15px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .content .session-3 h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6em;
    line-height: 119.97%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #d5a368;
  }
  .content .session-3 p {
    width: 275px;
    text-align: center;
  }
}

.content .session-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #472138;
  width: 100%;
}

.content .session-4 .resposive-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.content .session-4 .resposive-img img {
  width: 100%;
}

.content .session-4 .subsession-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% 0 5% 5%;
  width: 100%;
}

.content .session-4 .subsession-4 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  line-height: 96px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  color: #d5a368;
}

.content .session-4 .subsession-4 p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #000000;
  color: #fff;
}

.content .session-4 .subsession-4 .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.content .session-4 .subsession-4 .arrow a {
  width: 45px;
  height: 45px;
  border: 1px solid #d5a368;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.content .session-4 .subsession-4 .arrow a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .session-4 .subsession-4 .arrow span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 16px;
  letter-spacing: 0.2em;
  margin-left: 15px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 700px) {
  .content .session-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .session-4 .subsession-4 {
    margin: 10%;
    width: 80%;
  }
  .content .session-4 .subsession-4 h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0.1em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .content .session-4 .subsession-4 h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0.1em;
  }
  .content .session-4 .subsession-4 span {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 152.62%;
    letter-spacing: 0.1em;
  }
}

.content .slider-category {
  margin-top: 10px;
}

.content .slider-category div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .slider-category div span {
  position: absolute;
  margin-left: 32.5vw;
  margin-bottom: 130px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.25em;
  color: #fff;
}

.content .slider-category div h1 {
  position: absolute;
  margin-left: 25vw;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: #fff;
}

.content .slider-category div img {
  width: 80vw;
}

@media (max-width: 700px) {
  .content .slider-category div span {
    margin-left: 25vw;
    margin-bottom: 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #fff;
  }
  .content .slider-category div h1 {
    margin-left: 12vw;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 119.97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    color: #fff;
  }
}

.content .slick-slide {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}

.content .slick-current {
  opacity: 1;
}

.content .container-slider {
  text-align: center;
  margin: 5% 0;
}

.content .container-slider h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #472138;
}

.content .container-slider span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #000000;
}

.content .container-slider .slider-shop div {
  text-align: center;
}

.content .container-slider .slider-shop div img {
  width: 100%;
}

.content .container-slider .slider-shop div span {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 152.62%;
  letter-spacing: 0.1em;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .content .container-slider h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
    color: #472138;
  }
}

@media (max-width: 700px) {
  .content .container-slider h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px;
    color: #472138;
  }
}
/*# sourceMappingURL=styles.css.map */