* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "heading" "content" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 15px;
}

@media (max-width: 760px) {
  .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "heading header" "content content";
  }
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: heading;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.header .find {
  width: 150px;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .find:hover {
  background: #f2f2f2;
}

.header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .buttons img {
  padding: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.header .buttons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .buttons img:nth-child(1), .header .buttons img:nth-child(2) {
  display: block;
}

.header .search {
  background: #f2f2f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px;
}

@media (max-width: 760px) {
  .header .find {
    display: none;
  }
  .header .buttons img:nth-child(1), .header .buttons img:nth-child(2) {
    display: none;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading nav {
  display: block;
}

.heading nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.heading nav li {
  padding: 20px 35px;
  font-size: 14px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.heading nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heading nav a {
  color: #000000;
}

@media (max-width: 760px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .heading img {
    max-width: 170px;
  }
  .heading nav {
    display: none;
  }
  .heading [data-menu="button"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .heading [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 3px;
    width: 25px;
    background: #000000;
    -webkit-box-shadow: 0 8px #000000, 0 -8px #000000;
            box-shadow: 0 8px #000000, 0 -8px #000000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}
/*# sourceMappingURL=styles.css.map */